# Read csv

In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('/content/electrical_power.csv')
data.head()

      AT      V       AP     RH      PE
0   8.34  40.77  1010.84  90.01  480.48
1  23.64  58.49  1011.40  74.20  445.75
2  29.74  56.90  1007.15  41.91  438.76
3  19.07  49.69  1007.22  76.79  453.09
4  11.80  40.66  1017.13  97.20  464.43

# check for missing

In [3]:
missing = data.isnull().sum()
missing

AT    0
V     0
AP    0
RH    0
PE    0
dtype: int64

# splitting data

In [4]:
x = data.iloc[:,0:4]
x.head()

      AT      V       AP     RH
0   8.34  40.77  1010.84  90.01
1  23.64  58.49  1011.40  74.20
2  29.74  56.90  1007.15  41.91
3  19.07  49.69  1007.22  76.79
4  11.80  40.66  1017.13  97.20

In [7]:
y = data.iloc[:,-1:]
y.head()

       PE
0  480.48
1  445.75
2  438.76
3  453.09
4  464.43

In [9]:
x = pd.get_dummies(x)
x.head()

      AT      V       AP     RH
0   8.34  40.77  1010.84  90.01
1  23.64  58.49  1011.40  74.20
2  29.74  56.90  1007.15  41.91
3  19.07  49.69  1007.22  76.79
4  11.80  40.66  1017.13  97.20

In [10]:
y = pd.get_dummies(y)
y.head()

       PE
0  480.48
1  445.75
2  438.76
3  453.09
4  464.43

# train and test modeling

In [11]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2)

# Deep Learning modeling (ANN for regression)

## building the model

In [12]:
from keras.models import Sequential
from keras.layers import Dense

In [14]:
model = Sequential([
                    Dense(units=8, activation='relu'),
                    Dense(units=8, activation='relu'),
                    Dense(units=1, activation='sigmoid')
])

In [15]:
print(model.summary)

<bound method Model.summary of <keras.engine.sequential.Sequential object at 0x7f9090335dd0>>

## compiling the model

In [16]:
model.compile(optimizer='adam', loss='mean_squared_error')

In [17]:
model.fit(x=x_train, y=y_train, batch_size=20, epochs=30)

Epoch 1/30
383/383 [==============================] - 2s 2ms/step - loss: 206683.7812
Epoch 2/30
383/383 [==============================] - 1s 2ms/step - loss: 206683.6719
Epoch 3/30
383/383 [==============================] - 1s 2ms/step - loss: 206683.7656
Epoch 4/30
383/383 [==============================] - 1s 2ms/step - loss: 206683.7031
Epoch 5/30
383/383 [==============================] - 1s 2ms/step - loss: 206683.7500
Epoch 6/30
383/383 [==============================] - 1s 1ms/step - loss: 206683.7969
Epoch 7/30
383/383 [==============================] - 1s 1ms/step - loss: 206683.7344
Epoch 8/30
383/383 [==============================] - 1s 2ms/step - loss: 206683.8125
Epoch 9/30
383/383 [==============================] - 1s 2ms/step - loss: 206683.6094
Epoch 10/30
383/383 [==============================] - 1s 1ms/step - loss: 206683.6719
Epoch 11/30
383/383 [==============================] - 1s 2ms/step - loss: 206683.7344
Epoch 12/30
383/383 [==============================] - 1s 2ms/step - loss: 206683.7656
Epoch 13/30
383/383 [==============================] - 1s 2ms/step - loss: 206683.7812
Epoch 14/30
383/383 [==============================] - 1s 1ms/step - loss: 206683.8125
Epoch 15/30
383/383 [==============================] - 1s 2ms/step - loss: 206683.7344
Epoch 16/30
383/383 [==============================] - 1s 2ms/step - loss: 206683.7031
Epoch 17/30
383/383 [==============================] - 1s 2ms/step - loss: 206683.6875
Epoch 18/30
383/383 [==============================] - 1s 2ms/step - loss: 206683.6562
Epoch 19/30
383/383 [==============================] - 1s 2ms/step - loss: 206683.7812
Epoch 20/30
383/383 [==============================] - 1s 2ms/step - loss: 206683.7969
Epoch 21/30
383/383 [==============================] - 1s 2ms/step - loss: 206683.8438
Epoch 22/30
383/383 [==============================] - 1s 2ms/step - loss: 206683.7812
Epoch 23/30
383/383 [==============================] - 1s 2ms/step - loss: 206683.8594
Epoch 24/30
383/383 [==============================] - 1s 2ms/step - loss: 206683.8125
Epoch 25/30
383/383 [==============================] - 1s 2ms/step - loss: 206683.7969
Epoch 26/30
383/383 [==============================] - 1s 2ms/step - loss: 206683.7031
Epoch 27/30
383/383 [==============================] - 1s 2ms/step - loss: 206683.7656
Epoch 28/30
383/383 [==============================] - 1s 2ms/step - loss: 206683.7656
Epoch 29/30
383/383 [==============================] - 1s 2ms/step - loss: 206683.7656
Epoch 30/30
383/383 [==============================] - 1s 1ms/step - loss: 206683.7500

## saving the weights of the model

In [19]:
model.save('electric_power.h5')

## using the model weights in new data

In [20]:
from keras.models import load_model

In [21]:
model = load_model("/content/electric_power.h5")